* {
    margin: 0;
}

body {
    display: flex;
}

.jeu {
    border: 5px solid black;
    width: 1000px;
    height: 800px;
    margin-left: 10px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

section {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}